.todoList {
  &__header {
    display: flex;
    align-items: center;
  }

  &__headerHeading,
  &__headerCenter {
    padding: 15px;
  }

  &__headerCheckbox {
    width: 25px;
    height: 25px;
  }

  &__headerCenter {
    flex: 1;
  }

  &__headerInput {
    width: 100%;
    font-size: 1.8rem;
    border: none;
    outline: none;

    &::placeholder {
      font-style: italic;
      color: #ccc;
    }
  }

  &__item:nth-child(2n + 1) {
    display: block;
    background-color: #f9f9f9;
  }
}
